.b-background {
    position: fixed;
    bottom: 0;
    background-color: black;
    font-family: monospace;
    color: WHITE;
    height: 120px;
    line-height: 0px;
  }
  
  .b-background .item {
    color: white;
  }
  
  .victor{
      font-size: 40px;
  }

  .victor2{
    font-size: 20px;
}

  .matchIDPage {
    background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fweplay.tv%2Fnews%2Ftop-five-dota-2-hero-sets-abaddon-22522&psig=AOvVaw0rdLCKR9HuTWbvQ9K9ZXHB&ust=1620099523113000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKiJy5bLrPACFQAAAAAdAAAAABAQ") no-repeat; background-size: cover;
    min-width: 100%;
    min-height: 100%;
  }